listeners.ssl.default = 5672
listeners.tcp  = none
ssl_options.cacertfile = /home/testca/ca_certificate.pem
ssl_options.certfile   = /home/server/server_certificate.pem
ssl_options.keyfile    = /home/server/private_key.pem
ssl_options.verify     = verify_peer
ssl_options.fail_if_no_peer_cert = false
management.ssl.port       = 15672
management.ssl.cacertfile = /home/testca/ca_certificate.pem
management.ssl.certfile   = /home/server/server_certificate.pem
management.ssl.keyfile    = /home/server/private_key.pem
management.ssl.verify     = verify_peer
management.ssl.fail_if_no_peer_cert = false

